# Webscraping Traditional NBA Pipeline

In [2]:
from selenium import webdriver
from selenium.webdriver.edge.service import Service
from selenium.common.exceptions import WebDriverException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup as bs
from time import sleep
import requests
import pandas as pd
import numpy as np

In [2]:
# Make a url list
url_base = 'https://www.nba.com/stats/players/traditional/?PerMode=Totals&sort=PTS&dir=-1&Season='
url_list = []
a = 2021

while a >= 1996:
    b = a+1
    new_url = url_base + str(a) + "-" + str(b)[-2:] + "&SeasonType=Regular%20Season"
    a -=1
    url_list.append(new_url)

In [3]:
url_list[:5]

['https://www.nba.com/stats/players/traditional/?PerMode=Totals&sort=PTS&dir=-1&Season=2021-22&SeasonType=Regular%20Season',
 'https://www.nba.com/stats/players/traditional/?PerMode=Totals&sort=PTS&dir=-1&Season=2020-21&SeasonType=Regular%20Season',
 'https://www.nba.com/stats/players/traditional/?PerMode=Totals&sort=PTS&dir=-1&Season=2019-20&SeasonType=Regular%20Season',
 'https://www.nba.com/stats/players/traditional/?PerMode=Totals&sort=PTS&dir=-1&Season=2018-19&SeasonType=Regular%20Season',
 'https://www.nba.com/stats/players/traditional/?PerMode=Totals&sort=PTS&dir=-1&Season=2017-18&SeasonType=Regular%20Season']

In [4]:
dataframe_list = []
n=1 # Make a counter to see how many webpages are scraped

# Scrape stat table for each url in url_list
for url in url_list:
    # Use Selenium, provide path to the Edge driver
    s=Service("C:\\Users\sandr\OneDrive\Desktop\Drivers\msedgedriver.exe")
    driver = webdriver.Edge(service=s)
    
    # Make python pause for some time
    sleep(2)

    # Get the page HTML
    try:
        driver.get(url)
        # Make python pause for some time
        sleep(3)
    except WebDriverException:
        print("Webdriver is acting immediately after ‘closing’ the browser")

    # Use Selenium, click on accept cookies button
    driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/div/div[1]/div/div[2]/div/button").click()

    # Make python pause for some time
    sleep(4)

    # Use Selenium, select table page
    select_page = Select(driver.find_element(By.XPATH,"/html/body/main/div/div/div[2]/div/div/nba-stat-table/div[1]/div/div/select"))
    select_page.select_by_visible_text('All')

    # Use BeautifulSoup and lxml extension to parse, save in variable nba_soup
    nba_soup = bs(driver.page_source, 'lxml')
    
    # Locate the table on the page
    table = nba_soup.find('table')
   
    # Find all the headers in the columns
    headers=[]
    for i in table.find_all('th'):
        title = i.text.replace("\n", "").strip()
        headers.append(title)
    
    # Remove redundant headers
    headers_2 = ['PLAYER','TEAM','AGE','GP','W','L','MIN','PTS','FGM','FGA',
                 'FG%','3PM','3PA','3P%','FTM','FTA','FT%','OREB','DREB', 
                 'REB','AST','TOV','STL','BLK','PF','FP','DD2','TD3','+/-','SEASON']

    # Create a dataframe using the headers as column names
    nba_stat = pd.DataFrame(columns = headers_2) 

    # Create a for loop to fill nba_stat
    for i in table.find_all('tr')[1:]:
        row_data = i.find_all('td')[1:]
        row =[j.text.replace("\n", "") for j in row_data] 
        get_season = url.split('Season=')[1] # get the season year
        get_season = get_season.split('&SeasonType')[0] # get the season year
        row.append(get_season) # add the season to the row column
        length = len(nba_stat)
        nba_stat.loc[length] = row
    
    print("Completed:", n, "webpage(s) scraped.")
    n +=1 # add 1 to counter every successful page retrieved
        
    # Close all browsers
    driver.quit()

    # Append table to list of dataframes
    dataframe_list.append(nba_stat)

Webdriver is acting immediately after ‘closing’ the browser
Completed: 1 webpage(s) scraped.
Completed: 2 webpage(s) scraped.
Completed: 3 webpage(s) scraped.
Completed: 4 webpage(s) scraped.
Completed: 5 webpage(s) scraped.
Completed: 6 webpage(s) scraped.
Completed: 7 webpage(s) scraped.
Completed: 8 webpage(s) scraped.
Webdriver is acting immediately after ‘closing’ the browser
Completed: 9 webpage(s) scraped.
Completed: 10 webpage(s) scraped.
Completed: 11 webpage(s) scraped.
Completed: 12 webpage(s) scraped.
Completed: 13 webpage(s) scraped.
Completed: 14 webpage(s) scraped.
Completed: 15 webpage(s) scraped.
Completed: 16 webpage(s) scraped.
Completed: 17 webpage(s) scraped.
Completed: 18 webpage(s) scraped.
Completed: 19 webpage(s) scraped.
Completed: 20 webpage(s) scraped.
Completed: 21 webpage(s) scraped.
Completed: 22 webpage(s) scraped.
Completed: 23 webpage(s) scraped.
Completed: 24 webpage(s) scraped.
Completed: 25 webpage(s) scraped.
Completed: 26 webpage(s) scraped.

In [5]:
# dataframe_list is a list of all dataframes
dataframe_list

[             PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0        Trae Young  ATL  23  76  40  36  2652  2155              711
 1     DeMar DeRozan  CHI  32  76  43  33  2743  2118              774
 2       Joel Embiid  PHI  28  68  45  23  2296  2079              666
 3      Jayson Tatum  BOS  24  76  49  27  2731  2046              708
 4      Nikola Jokic  DEN  27  74  46  28  2476  2004              764
 ..              ...  ...  ..  ..  ..  ..   ...   ...              ...
 600     Nate Hinton  IND  23   2   0   2     2     0                0
 601      Sam Dekker  TOR  28   1   1   0     1     0                0
 602  Trayvon Palmer  DET  27   1   0   1    17     0                0
 603      Tyler Hall  NYK  25   1   1   0     2     0                0
 604  Zylan Cheatham  UTA  26   1   0   1     5     0                0

                   FGA  ...              AST              TOV              STL  \
 0                1544  ...              737              303               72
 1                1535  ...              374              181               68
 2                1334  ...              284              214               77
 3                1564  ...              334              217               75
 4                1311  ...              584              281              109
 ..                ...  ...              ...              ...              ...
 600                 1  ...                0                1                0
 601                 0  ...                0                0                0
 602                 1  ...                0                1                0
 603                 0  ...                0                0                0
 604                 3  ...                0                0                0

                 BLK               PF                            FP DD2 TD3  \
 0                 7              128              3535.3            42   0
 1                24              178              3244.4             6   0
 2                99              181              3774.2            46   2
 3                49              174              3432.8            22   0
 4                63              191              4337.8            66  19
 ..              ...              ...                           ...  ..  ..
 600               0                0                -1.0             0   0
 601               0                0                 0.0             0   0
 602               0                2                 1.4             0   0
 603               0                0                 0.0             0   0
 604               0                0                 0.0             0   0

      +/-   SEASON
 0    159  2021-22
 1     77  2021-22
 2    368  2021-22
 3    667  2021-22
 4    444  2021-22
 ..   ...      ...
 600    4  2021-22
 601   -5  2021-22
 602  -12  2021-22
 603   -5  2021-22
 604  -13  2021-22

 [605 rows x 30 columns],
                PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0       Stephen Curry  GSW  33  63  37  26  2152  2015              658
 1      Damian Lillard  POR  30  67  39  28  2398  1928              602
 2        Nikola Jokic  DEN  26  72  47  25  2488  1898              732
 3        Bradley Beal  WAS  28  60  32  28  2147  1878              670
 4         Luka Doncic  DAL  22  66  40  26  2262  1830              647
 ..                ...  ...  ..  ..  ..  ..   ...   ...              ...
 535  Anzejs Pasecniks  WAS  25   1   1   0     6     0                0
 536     Ashton Hagans  MIN  21   2   0   2     4     0                0
 537  Greg Whittington  DEN  28   4   3   1    12     0                0
 538       Noah Vonleh  BKN  25   4   3   1    11     0                0
 539       Will Magnay  NOP  23   1   1   0     3     0                0

                   FGA  ...              AST              TOV             STL  \
 0                1365  ...              363              213              77
 1                1334  ...              505              203              62
 2                1293  ...              599              222              95
 3                1382  ...              265              187              69
 4                1351  ...              567              281              64
 ..                ...  ...              ...              ...             ...
 535                 1  ...                1                5               0
 536                 0  ...                0                1               0
 537                 3  ...                0                0               0
 538                 3  ...                1                2               0
 539                 1  ...                0                1               0

                 BLK               PF                            FP DD2 TD3  \
 0                 8              119              3015.5             8   0
 1                17              102              3059.1            16   0
 2                48              192              3939.5            60  16
 3                22              140              2701.1             4   0
 4                36              152              3331.9            26  11
 ..              ...              ...                           ...  ..  ..
 535               0                2                -2.3             0   0
 536               0                0                -1.0             0   0
 537               0                0                 0.0             0   0
 538               0                2                 0.7             0   0
 539               0                1                -1.0             0   0

      +/-   SEASON
 0    244  2020-21
 1    198  2020-21
 2    384  2020-21
 3     -3  2020-21
 4    164  2020-21
 ..   ...      ...
 535  -13  2020-21
 536   -3  2020-21
 537    9  2020-21
 538  -16  2020-21
 539  -10  2020-21

 [540 rows x 30 columns],
                     PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0             James Harden  HOU  30  68  43  25  2483  2335              672
 1           Damian Lillard  POR  29  66  33  33  2474  1978              624
 2             Devin Booker  PHX  23  70  34  36  2512  1863              627
 3    Giannis Antetokounmpo  MIL  25  63  51  12  1917  1857              685
 4               Trae Young  ATL  21  60  18  42  2120  1778              546
 ..                     ...  ...  ..  ..  ..  ..   ...   ...              ...
 524            Isaiah Roby  OKC  22   3   2   1    11     0                0
 525            J.P. Macura  CLE  25   1   1   0     1     0                0
 526         Marques Bolden  CLE  22   1   0   1     3     0                0
 527           Stanton Kidd  UTA  28   4   3   1    15     0                0
 528         William Howard  HOU  26   2   1   1    13     0                0

                   FGA  ...              AST              TOV              STL  \
 0                1514  ...              512              308              125
 1                1349  ...              530              194               70
 2                1283  ...              456              264               49
 3                1238  ...              354              230               61
 4                1249  ...              560              289               65
 ..                ...  ...              ...              ...              ...
 524                 1  ...                0                1                0
 525                 0  ...                0                0                0
 526                 0  ...                0                0                1
 527                 3  ...                1                2                0
 528                 4  ...                1                1                0

                 BLK               PF                            FP DD2 TD3  \
 0                60              227              3885.2            22   4
 1                22              114              3195.8            19   1
 2                18              213              2840.4            11   0
 3                66              195              3566.2            56   4
 4                 8              104              2854.0            28   2
 ..              ...              ...                           ...  ..  ..
 524               0                1                 1.4             0   0
 525               0                0                 0.0             0   0
 526               0                1                 5.4             0   0
 527               0                3                 3.1             0   0
 528               0                1                 2.9             0   0

       +/-   SEASON
 0     286  2019-20
 1      85  2019-20
 2     130  2019-20
 3     682  2019-20
 4    -228  2019-20
 ..    ...      ...
 524    -4  2019-20
 525     3  2019-20
 526     4  2019-20
 527    -1  2019-20
 528   -16  2019-20

 [529 rows x 30 columns],
              PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0      James Harden  HOU  29  78  51  27  2867  2818              843
 1       Paul George  OKC  29  77  46  31  2841  2159              707
 2      Kemba Walker  CHA  29  82  39  43  2863  2102              731
 3      Bradley Beal  WAS  26  82  32  50  3028  2099              764
 4    Damian Lillard  POR  28  80  51  29  2838  2067              681
 ..              ...  ...  ..  ..  ..  ..   ...   ...              ...
 525    Kobi Simmons  CLE  21   1   0   1     2     0                0
 526     Okaro White  WAS  26   3   2   1     6     0                0
 527     Tyler Davis  OKC  22   1   1   0     1     0                0
 528      Tyler Ulis  CHI  23   1   0   1     1     0                0
 529     Zach Lofton  DET  26   1   1   0     4     0                0

                   FGA  ...              AST              TOV              STL  \
 0                1909  ...              586              387              158
 1                1614  ...              318              205              170
 2                1684  ...              484              211              102
 3                1609  ...              448              224              121
 4                1533  ...              551              212               88
 ..                ...  ...              ...              ...              ...
 525                 0  ...                0                0                0
 526                 2  ...                0                0                0
 527                 1  ...                0                0                0
 528                 0  ...                0                0                0
 529                 1  ...                0                1                1

                 BLK               PF                            FP DD2 TD3  \
 0                58              244              4579.6            34   7
 1                34              214              3796.6            24   1
 2                34              131              3458.2            10   0
 3                58              226              3577.2            11   2
 4                34              148              3492.7            13   0
 ..              ...              ...                           ...  ..  ..
 525               0                0                 0.0             0   0
 526               0                0                 2.4             0   0
 527               0                0                 1.2             0   0
 528               0                0                 0.0             0   0
 529               0                0                 2.0             0   0

       +/-   SEASON
 0     357  2018-19
 1     496  2018-19
 2      36  2018-19
 3    -112  2018-19
 4     494  2018-19
 ..    ...      ...
 525     3  2018-19
 526    -3  2018-19
 527     0  2018-19
 528     0  2018-19
 529     0  2018-19

 [530 rows x 30 columns],
                     PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0             LeBron James  CLE  33  82  50  32  3026  2251              857
 1             James Harden  HOU  28  72  59  13  2551  2191              651
 2            Anthony Davis  NOP  25  75  45  30  2727  2110              780
 3        Russell Westbrook  OKC  29  80  47  33  2914  2028              757
 4    Giannis Antetokounmpo  MIL  23  75  39  36  2756  2014              742
 ..                     ...  ...  ..  ..  ..  ..   ...   ...              ...
 535   Mindaugas Kuzminskas  NYK  28   1   0   1     2     0                0
 536       Nicolas Brussino  ATL  25   4   0   4    10     0                0
 537    Trey McKinney-Jones  IND  27   1   1   0     1     0                0
 538            Tyler Lydon  DEN  22   1   1   0     2     0                0
 539           Xavier Silas  BOS  30   2   1   1     7     0                0

                   FGA  ...              AST              TOV              STL  \
 0                1580  ...              747              347              116
 1                1449  ...              630              315              126
 2                1462  ...              174              162              115
 3                1687  ...              820              381              147
 4                1402  ...              361              223              109
 ..                ...  ...              ...              ...              ...
 535                 2  ...                0                0                0
 536                 2  ...                0                0                0
 537                 0  ...                0                0                0
 538                 0  ...                0                0                0
 539                 3  ...                0                0                1

                  BLK               PF                            FP DD2 TD3  \
 0                 71              136              4436.3            52  18
 1                 50              169              3815.8            31   4
 2                193              159              4130.2            50   1
 3                 20              200              4342.8            59  25
 4                106              231              3881.1            42   1
 ..               ...              ...                           ...  ..  ..
 535                0                0                 0.0             0   0
 536                0                0                 3.6             0   0
 537                0                0                 0.0             0   0
 538                0                0                 0.0             0   0
 539                0                1                 5.4             0   0

      +/-   SEASON
 0    105  2017-18
 1    522  2017-18
 2    294  2017-18
 3    384  2017-18
 4    148  2017-18
 ..   ...      ...
 535    0  2017-18
 536   17  2017-18
 537    0  2017-18
 538   -6  2017-18
 539    1  2017-18

 [540 rows x 30 columns],
                  PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0     Russell Westbrook  OKC  28  81  46  35  2802  2558              824
 1          James Harden  HOU  27  81  54  27  2947  2356              674
 2         Isaiah Thomas  BOS  28  76  51  25  2569  2199              682
 3         Anthony Davis  NOP  24  75  31  44  2708  2099              770
 4    Karl-Anthony Towns  MIN  21  82  31  51  3030  2061              802
 ..                  ...  ...  ..  ..  ..  ..   ...   ...              ...
 481      Aaron Harrison  CHA  22   5   2   3    17     1                0
 482          Ben Bentil  DAL  22   3   2   1    10     0                0
 483    Danuel House Jr.  WAS  24   1   0   1     1     0                0
 484     Patricio Garino  ORL  24   5   2   3    43     0                0
 485           RJ Hunter  CHI  23   3   2   1     9     0                0

                   FGA  ...              AST              TOV              STL  \
 0                1941  ...              840              438              132
 1                1533  ...              907              464              121
 2                1473  ...              448              210               70
 3                1526  ...              157              181               94
 4                1480  ...              220              212               56
 ..                ...  ...              ...              ...              ...
 481                 4  ...                3                0                0
 482                 3  ...                0                1                0
 483                 0  ...                0                0                0
 484                 7  ...                0                3                0
 485                 1  ...                0                0                0

                  BLK               PF                            FP DD2 TD3  \
 0                 31              190              4905.8            62  42
 1                 38              215              4520.3            64  22
 2                 13              167              3154.8             5   0
 3                167              168              3997.3            49   0
 4                103              241              3864.4            62   1
 ..               ...              ...                           ...  ..  ..
 481                0                2                 9.1             0   0
 482                0                1                 1.4             0   0
 483                0                0                 1.2             0   0
 484                0                4                 5.4             0   0
 485                0                0                 1.2             0   0

      +/-   SEASON
 0    249  2016-17
 1    424  2016-17
 2    275  2016-17
 3     51  2016-17
 4    -26  2016-17
 ..   ...      ...
 481   -5  2016-17
 482  -12  2016-17
 483    0  2016-17
 484  -14  2016-17
 485  -10  2016-17

 [486 rows x 30 columns],
              PLAYER TEAM AGE  GP   W   L   MIN   PTS              FGM  \
 0      James Harden  HOU  26  82  41  41  3125  2376              710
 1     Stephen Curry  GSW  28  79  71   8  2700  2375              805
 2      Kevin Durant  OKC  27  72  52  20  2578  2029              698
 3      LeBron James  CLE  31  76  56  20  2709  1920              737
 4    Damian Lillard  POR  25  75  40  35  2676  1879              618
 ..              ...  ...  ..  ..  ..  ..   ...   ...              ...
 471   Bruno Caboclo  TOR  20   6   6   0    43     3                1
 472      Joe Harris  CLE  24   5   5   0    15     3                1
 473      JJ O'Brien  UTA  24   2   2   0     6     0                0
 474   Nate Robinson  NOP  32   2   0   2    23     0                0
 475      Sam Dekker  HOU  22   3   1   2     6     0                0

                   FGA  ...              AST              TOV              STL  \
 0                1617  ...              612              374              139
 1                1598  ...              527              262              169
 2                1381  ...              361              250               69
 3                1416  ...              514              249              104
 4                1474  ...              512              242               65
 ..                ...  ...              ...              ...              ...
 471                12  ...                1                4                2
 472                 4  ...                2                1                0
 473                 1  ...                0                0                1
 474                 1  ...                4                0                1
 475                 0  ...                0                0                1


In [6]:
# Concat all the dataframes into one table
nba_stats = pd.concat(dataframe_list, ignore_index=True)
nba_stats.head()

,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,SEASON
0,Trae Young,ATL,23,76,40,36,2652,2155,711,1544,...,737,303,72,7,128,3535.3,42,0,159,2021-22
1,DeMar DeRozan,CHI,32,76,43,33,2743,2118,774,1535,...,374,181,68,24,178,3244.4,6,0,77,2021-22
2,Joel Embiid,PHI,28,68,45,23,2296,2079,666,1334,...,284,214,77,99,181,3774.2,46,2,368,2021-22
3,Jayson Tatum,BOS,24,76,49,27,2731,2046,708,1564,...,334,217,75,49,174,3432.8,22,0,667,2021-22
4,Nikola Jokic,DEN,27,74,46,28,2476,2004,764,1311,...,584,281,109,63,191,4337.8,66,19,444,2021-22

# Prepare and Clean Data

In [7]:
# Check datatypes
nba_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12307 entries, 0 to 12306
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  12307 non-null  object
 1   TEAM    12307 non-null  object
 2   AGE     12307 non-null  object
 3   GP      12307 non-null  object
 4   W       12307 non-null  object
 5   L       12307 non-null  object
 6   MIN     12307 non-null  object
 7   PTS     12307 non-null  object
 8   FGM     12307 non-null  object
 9   FGA     12307 non-null  object
 10  FG%     12307 non-null  object
 11  3PM     12307 non-null  object
 12  3PA     12307 non-null  object
 13  3P%     12307 non-null  object
 14  FTM     12307 non-null  object
 15  FTA     12307 non-null  object
 16  FT%     12307 non-null  object
 17  OREB    12307 non-null  object
 18  DREB    12307 non-null  object
 19  REB     12307 non-null  object
 20  AST     12307 non-null  object
 21  TOV     12307 non-null  object
 22  STL     12307 non-null  object
 23  BLK     12307 non-null  object
 24  PF      12307 non-null  object
 25  FP      12307 non-null  object
 26  DD2     12307 non-null  object
 27  TD3     12307 non-null  object
 28  +/-     12307 non-null  object
 29  SEASON  12307 non-null  object
dtypes: object(30)
memory usage: 2.8+ MB

In [8]:
# Get column names
nba_stats.columns

Index(['PLAYER', 'TEAM', 'AGE', 'GP', 'W', 'L', 'MIN', 'PTS', 'FGM', 'FGA',
       'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB',
       'AST', 'TOV', 'STL', 'BLK', 'PF', 'FP', 'DD2', 'TD3', '+/-', 'SEASON'],
      dtype='object')

In [9]:
# Change datatypes to numeric for appropriate columns
nba_stats[['AGE', 'GP', 'W', 'L', 'MIN', 'PTS', 'FGM', 'FGA',
                 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 
                 'OREB', 'DREB', 'REB','AST', 'TOV', 'STL', 'BLK', 
                 'PF', 'FP', 'DD2', 'TD3', '+/-']] = nba_stats[['AGE', 'GP', 'W', 'L', 'MIN', 'PTS', 
                                                                      'FGM', 'FGA','FG%', '3PM', '3PA', '3P%', 
                                                                      'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB',
                                                                      'AST', 'TOV', 'STL', 'BLK', 'PF', 'FP', 'DD2', 
                                                                      'TD3', '+/-']].apply(pd.to_numeric)

In [10]:
# Verify datatype changes
nba_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12307 entries, 0 to 12306
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PLAYER  12307 non-null  object
 1   TEAM    12307 non-null  object
 2   AGE     12307 non-null  int64
 3   GP      12307 non-null  int64
 4   W       12307 non-null  int64
 5   L       12307 non-null  int64
 6   MIN     12307 non-null  int64
 7   PTS     12307 non-null  int64
 8   FGM     12307 non-null  int64
 9   FGA     12307 non-null  int64
 10  FG%     12307 non-null  float64
 11  3PM     12307 non-null  int64
 12  3PA     12307 non-null  int64
 13  3P%     12307 non-null  float64
 14  FTM     12307 non-null  int64
 15  FTA     12307 non-null  int64
 16  FT%     12307 non-null  float64
 17  OREB    12307 non-null  int64
 18  DREB    12307 non-null  int64
 19  REB     12307 non-null  int64
 20  AST     12307 non-null  int64
 21  TOV     12307 non-null  int64
 22  STL     12307 non-null  int64
 23  BLK     12307 non-null  int64
 24  PF      12307 non-null  int64
 25  FP      12307 non-null  float64
 26  DD2     12307 non-null  int64
 27  TD3     12307 non-null  int64
 28  +/-     12307 non-null  int64
 29  SEASON  12307 non-null  object
dtypes: float64(4), int64(23), object(3)
memory usage: 2.8+ MB

In [11]:
# Look at dimension
nba_stats.shape

(12307, 30)

In [12]:
# Find duplicate rows, if any
duplicateRows = nba_stats[nba_stats.duplicated()]
duplicateRows

Empty DataFrame
Columns: [PLAYER, TEAM, AGE, GP, W, L, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, FTM, FTA, FT%, OREB, DREB, REB, AST, TOV, STL, BLK, PF, FP, DD2, TD3, +/-, SEASON]
Index: []

[0 rows x 30 columns]

There are no duplicate rows

In [32]:
# Find null values, if any
null_counts = nba_stats.isnull().sum()
null_counts

PLAYER    0
AGE       0
GP        0
W         0
L         0
MIN       0
PTS       0
FGM       0
FGA       0
FG%       0
3PM       0
3PA       0
3P%       0
FTM       0
FTA       0
FT%       0
OREB      0
DREB      0
REB       0
AST       0
TOV       0
STL       0
BLK       0
PF        0
DD2       0
TD3       0
+/-       0
SEASON    0
dtype: int64

### Save file

In [15]:
# Save as csv file
nba_stats.to_csv('nba_stats.csv', encoding='utf-8', index=False)

In [16]:
# Check that it's saved
nba_stats = pd.read_csv('nba_stats.csv', encoding='utf-8')
nba_stats

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,REB,AST,TOV,STL,BLK,PF,DD2,TD3,+/-,SEASON
0,Trae Young,23,76,40,36,2652,2155,711,1544,46.0,...,284,737,303,72,7,128,42,0,159,2021-22
1,DeMar DeRozan,32,76,43,33,2743,2118,774,1535,50.4,...,392,374,181,68,24,178,6,0,77,2021-22
2,Joel Embiid,28,68,45,23,2296,2079,666,1334,49.9,...,796,284,214,77,99,181,46,2,368,2021-22
3,Jayson Tatum,24,76,49,27,2731,2046,708,1564,45.3,...,609,334,217,75,49,174,22,0,667,2021-22
4,Nikola Jokic,27,74,46,28,2476,2004,764,1311,58.3,...,1019,584,281,109,63,191,66,19,444,2021-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12302,Anthony Miller,25,1,0,1,14,0,0,5,0.0,...,7,0,0,0,0,2,0,0,-14,1996-97
12303,Bruce Bowen,26,1,1,0,1,0,0,0,0.0,...,0,0,0,0,1,0,0,0,3,1996-97
12304,Cuonzo Martin,25,3,0,3,13,0,0,7,0.0,...,1,1,1,0,0,1,0,0,-2,1996-97
12305,Derrick Alston,24,2,1,1,11,0,0,5,0.0,...,4,0,0,0,0,0,0,0,-7,1996-97
12306,Elmore Spencer,27,1,1,0,5,0,0,1,0.0,...,0,0,1,1,0,0,0,0,-15,1996-97

In [13]:
# Remove TEAM and FP (Fantasy Points) columns - irrelevant for this project
nba_stats2 = nba_stats.drop(['TEAM','FP'], axis=1)

nba_stats2.head()

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,REB,AST,TOV,STL,BLK,PF,DD2,TD3,+/-,SEASON
0,Trae Young,23,76,40,36,2652,2155,711,1544,46.0,...,284,737,303,72,7,128,42,0,159,2021-22
1,DeMar DeRozan,32,76,43,33,2743,2118,774,1535,50.4,...,392,374,181,68,24,178,6,0,77,2021-22
2,Joel Embiid,28,68,45,23,2296,2079,666,1334,49.9,...,796,284,214,77,99,181,46,2,368,2021-22
3,Jayson Tatum,24,76,49,27,2731,2046,708,1564,45.3,...,609,334,217,75,49,174,22,0,667,2021-22
4,Nikola Jokic,27,74,46,28,2476,2004,764,1311,58.3,...,1019,584,281,109,63,191,66,19,444,2021-22

In [14]:
# Look at dimension
nba_stats2.shape

(12307, 28)

In [5]:
test = nba_stats[nba_stats['PLAYER'] == 'Stephen Curry']
test

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,REB,AST,TOV,STL,BLK,PF,DD2,TD3,+/-,SEASON
13,Stephen Curry,34,64,45,19,2211,1630,535,1224,43.7,...,335,404,206,85,23,130,12,2,509,2021-22
605,Stephen Curry,33,63,37,26,2152,2015,658,1365,48.2,...,345,363,213,77,8,119,8,0,244,2020-21
1529,Stephen Curry,32,5,1,4,139,104,33,82,40.2,...,26,33,16,5,2,11,1,0,-45,2019-20
1681,Stephen Curry,31,69,52,17,2331,1881,632,1340,47.2,...,369,361,192,92,25,166,3,0,689,2018-19
2233,Stephen Curry,30,51,41,10,1631,1346,428,864,49.5,...,261,310,153,80,8,114,5,0,486,2017-18
2751,Stephen Curry,29,79,65,14,2639,1999,675,1443,46.8,...,353,524,239,142,17,183,9,0,1015,2016-17
3231,Stephen Curry,28,79,71,8,2700,2375,805,1598,50.4,...,430,527,262,169,15,161,15,2,1022,2015-16
3707,Stephen Curry,27,80,67,13,2613,1900,653,1341,48.7,...,341,619,249,163,16,158,23,0,919,2014-15
4203,Stephen Curry,26,78,50,28,2846,1873,652,1383,47.1,...,334,666,294,128,14,194,28,4,574,2013-14
4686,Stephen Curry,25,78,45,33,2983,1786,626,1388,45.1,...,314,539,240,126,12,198,15,0,133,2012-13
5354,Stephen Curry,24,26,13,13,732,383,145,296,49.0,...,88,138,65,39,8,62,3,0,79,2011-12
5654,Stephen Curry,23,74,33,41,2489,1373,505,1053,48.0,...,286,432,226,109,20,233,5,0,-17,2010-11
6107,Stephen Curry,22,80,25,55,2896,1399,528,1143,46.2,...,356,472,243,152,19,252,12,1,-187,2009-10

**This tells us that some players play multiple years and will have multiple rows of stats.**

**Some names are mismatched and/or spelled differently, let's fix them.**

In [7]:
nba_stats['PLAYER'] = nba_stats['PLAYER'].str.replace("Tim Hardaway Jr", "Tim Hardaway Jr")

In [11]:
import re
tim = nba_stats[nba_stats['PLAYER'].str.contains('Tim', regex=False)]
tim

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,REB,AST,TOV,STL,BLK,PF,DD2,TD3,+/-,SEASON
187,Tim Hardaway Jr.,30,42,24,18,1245,598,209,530,39.4,...,156,92,34,38,6,74,0,0,36,2021-22
343,Timothe Luwawu-Cabarrot,27,52,30,22,685,227,74,186,39.8,...,82,40,20,18,6,76,0,0,-51,2021-22
481,Tim Frazier,31,12,1,11,208,39,14,45,31.1,...,19,34,15,3,1,27,0,0,-80,2021-22
646,Tim Hardaway Jr.,29,70,42,28,1985,1163,407,911,44.7,...,229,126,64,31,11,111,0,0,71,2020-21
856,Timothe Luwawu-Cabarrot,26,58,38,20,1050,370,130,356,36.5,...,129,69,43,33,6,99,0,0,-26,2020-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11846,Tim Legler,31,8,4,4,76,9,3,19,15.8,...,4,3,4,1,0,11,0,0,0,1997-98
11856,Tim Kempton,34,8,3,5,45,4,2,9,22.2,...,6,3,4,1,2,10,0,0,-15,1997-98
11882,Tim Hardaway,30,81,60,21,3139,1644,575,1384,41.5,...,276,695,230,151,9,165,25,0,540,1996-97
12242,Tim Legler,30,15,10,5,182,44,15,48,31.3,...,21,7,9,3,5,21,0,0,-10,1996-97
12295,Tim Kempton,33,10,2,8,59,4,1,5,20.0,...,8,2,7,1,1,4,0,0,-12,1996-97

In [8]:
nba_stats['PLAYER'] = nba_stats['PLAYER'].str.replace("'",'')

In [9]:
nba_stats['PLAYER'] = nba_stats['PLAYER'].str.replace("Enes Freedom", "Enes Kanter")

In [13]:
nba_stats['PLAYER'] = nba_stats['PLAYER'].str.replace("Otto Porter Jr.", "Otto Porter")

C:\Users\sandr\AppData\Local\Temp/ipykernel_11008/4104035192.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  nba_stats['PLAYER'] = nba_stats['PLAYER'].str.replace("Otto Porter Jr.", "Otto Porter")

In [14]:
otto = nba_stats[nba_stats['PLAYER'].str.contains('Otto', regex=False)]
otto

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,REB,AST,TOV,STL,BLK,PF,DD2,TD3,+/-,SEASON
220,Otto Porter,29,63,41,22,1395,515,193,416,46.4,...,362,94,37,68,29,83,5,0,231,2021-22
914,Otto Porter,28,28,12,16,607,271,98,227,43.2,...,152,55,25,16,4,41,2,0,-42,2020-21
1499,Otto Porter,27,14,5,9,331,167,62,140,44.3,...,48,25,11,15,6,31,0,0,26,2019-20
1801,Otto Porter,26,56,25,31,1684,780,299,643,46.5,...,314,120,65,82,31,108,6,0,-22,2018-19
2255,Otto Porter,25,77,42,35,2432,1134,445,885,50.3,...,492,157,75,116,41,151,13,0,286,2017-18
2805,Otto Porter,24,80,48,32,2605,1075,414,803,51.6,...,514,121,44,116,42,193,12,0,191,2016-17
3330,Otto Porter,23,75,36,39,2276,871,339,717,47.3,...,391,120,70,105,32,163,5,0,45,2015-16
3935,Otto Porter,22,74,41,33,1432,445,176,391,45.0,...,221,65,52,44,30,97,0,0,-36,2014-15
4585,Otto Porter,21,37,20,17,319,78,33,91,36.3,...,57,10,14,8,1,26,0,0,-6,2013-14

Each row in this table shows the average stat in a season for each player who has played for at least 5 or more years

## Save into csv file

In [33]:
nba_stats.to_csv('nba_stats_cleaned_final.csv', index=False)

In [34]:
# Check that it's saved
nba_stats = pd.read_csv('nba_stats_cleaned_final.csv')
nba_stats

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,REB,AST,TOV,STL,BLK,PF,DD2,TD3,+/-,SEASON
0,Trae Young,23,76,40,36,2652,2155,711,1544,46.0,...,284,737,303,72,7,128,42,0,159,2021-22
1,DeMar DeRozan,32,76,43,33,2743,2118,774,1535,50.4,...,392,374,181,68,24,178,6,0,77,2021-22
2,Joel Embiid,28,68,45,23,2296,2079,666,1334,49.9,...,796,284,214,77,99,181,46,2,368,2021-22
3,Jayson Tatum,24,76,49,27,2731,2046,708,1564,45.3,...,609,334,217,75,49,174,22,0,667,2021-22
4,Nikola Jokic,27,74,46,28,2476,2004,764,1311,58.3,...,1019,584,281,109,63,191,66,19,444,2021-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12302,Anthony Miller,25,1,0,1,14,0,0,5,0.0,...,7,0,0,0,0,2,0,0,-14,1996-97
12303,Bruce Bowen,26,1,1,0,1,0,0,0,0.0,...,0,0,0,0,1,0,0,0,3,1996-97
12304,Cuonzo Martin,25,3,0,3,13,0,0,7,0.0,...,1,1,1,0,0,1,0,0,-2,1996-97
12305,Derrick Alston,24,2,1,1,11,0,0,5,0.0,...,4,0,0,0,0,0,0,0,-7,1996-97
12306,Elmore Spencer,27,1,1,0,5,0,0,1,0.0,...,0,0,1,1,0,0,0,0,-15,1996-97